body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

#search-bar {
    width: 60%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.tool-card {
    background-color: #fff;
    width: 300px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.tool-card:hover {
    transform: translateY(-5px);
}

.tool-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tool-card-content {
    padding: 15px;
}

.tool-card h3 {
    margin: 0;
    font-size: 1.5rem;
}

.tool-card p {
    color: #555;
}

.tool-card a {
    display: block;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.tool-card a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
}
